.headertron {
    padding-top: 30px; padding-bottom: 30px;
    margin-top: -20px;
    background: #bbb;
}

.headertron h2{
    margin: 0;
}
.headertron p{ padding: 0; margin: 4px 0 0; }

.pattern{ color:white;background-image: url("diagmonds.png");}

.pattern2{ color:white;background-image: url("office.png"); }

.alert-with-icon { padding-left: 60px; min-height: 60px; }
.alert-with-icon>.fa { margin-left: -53px; width: 50px; font-size:30px; text-align: center; float: left;  }
